
.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(255, 255, 255);
  color: #002731;
}

.logo-image {
  width: 75px;
  height: 75px;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-image: linear-gradient(120deg, #002731 0%, #00bea5 100%);
  color: white;
  font-family: sans-serif;
  min-height: 100vh;
}

.div-dice-roller {
  height: 100%;
  align-items: center;
}

.modifier-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.modifier-label {
  padding: 5px;
}

.modifier-text {
  width: 25px;
  text-align: center;
}

.dice {
  justify-content: space-between;
  margin: 0 auto;
}

.roll-button,
.dice-select-button {
  text-align: center;
  background: rgb(247, 185, 135);
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.roll-button {
  background: rgb(255, 255, 255);
  margin-left: 5px;
}

.dice-modifier-result,
.roll-result {
  font-size: 25px;
  color: rgb(99, 194, 248);
}

.roll-plus-mod {
  color: rgb(99, 194, 248);
  font-size: 50px;
}

.div-something-else {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 300px;
  background: rgb(236, 250, 255);
  color: black;
}

.dd5e-dropdown,
.dd5e-search {
  text-align: center;
  background: rgb(247, 185, 135);
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.dd5e-search {
  background: rgb(255, 255, 255);
  margin-left: 5px;
}

.dd5e-result-div {
  margin: 10px;
}

.solid-divider {
  opacity: 50%;
}

.dd5e-result-desc {
  text-align: left;
  margin: auto;
  max-width: 80%;
}

button:hover {
  background: rgb(228, 228, 228);
}

.spell-basic-info-div {
  text-align: left;
  margin: auto;
  max-width: 80%;
}

.spell-info-blue {
  color: rgb(99, 194, 248);
}
